$jhlite-button-color-background: var(--jhlite-global-color-primary);
$jhlite-button-color-text: var(--jhlite-global-color-text-light);
$jhlite-button-hover-color-background: var(--jhlite-global-color-fill-primary-darker);
$jhlite-button-focus-color-outline: var(--jhlite-global-color-fill-primary-darker);
$jhlite-button-disabled-color-background: var(--jhlite-global-color-fill-disabled-dark);

.jhlite-button {
  @include jhlite-q-field;

  background-color: $jhlite-button-color-background;
  cursor: pointer;
  text-align: center;
  color: $jhlite-button-color-text;

  &:hover {
    background-color: $jhlite-button-hover-color-background;
  }

  &:disabled {
    background-color: $jhlite-button-disabled-color-background;
  }

  &.-block {
    display: block;
    width: 100%;
  }
}
