@keyframes jhlite-valid-highlight-animation {
  0% {
    background-color: var(--jhlite-valid-highlight-start-color);
    stroke: var(--jhlite-valid-highlight-start-color);
  }

  50% {
    background-color: var(--jhlite-valid-highlight-end-color);
    stroke: var(--jhlite-valid-highlight-end-color);
  }

  100% {
    background-color: var(--jhlite-valid-highlight-start-color);
    stroke: var(--jhlite-valid-highlight-start-color);
  }
}

@keyframes jhlite-invalid-highlight-animation {
  0% {
    background-color: var(--jhlite-invalid-highlight-start-color);
    stroke: var(--jhlite-invalid-highlight-start-color);
  }

  50% {
    background-color: var(--jhlite-invalid-highlight-end-color);
    stroke: var(--jhlite-invalid-highlight-end-color);
  }

  100% {
    background-color: var(--jhlite-invalid-highlight-start-color);
    stroke: var(--jhlite-invalid-highlight-start-color);
  }
}
