@use 'sass:color';

$jhlite-global-color-primary: #4ba8f8 !default;
$jhlite-global-color-light: #fff !default;
$jhlite-global-color-fill-primary: $jhlite-global-color-primary !default;
$jhlite-global-color-fill-primary-dark: color.change($jhlite-global-color-primary, $lightness: 40%) !default;
$jhlite-global-color-fill-primary-darker: color.change($jhlite-global-color-primary, $lightness: 15%) !default;
$jhlite-global-color-fill-light: $jhlite-global-color-light !default;
$jhlite-global-color-text-primary: $jhlite-global-color-primary !default;
$jhlite-global-color-text-dark: color.change($jhlite-global-color-primary, $lightness: 5%) !default;
$jhlite-global-color-fill-disabled-dark: color.change(
  $jhlite-global-color-primary,
  $saturation: 25%,
  $lightness: 40%
) !default;
$jhlite-global-color-fill-disabled-light: color.change(
  $jhlite-global-color-primary,
  $saturation: 20%,
  $lightness: 75%
) !default;
$jhlite-global-color-text-disabled: color.change(
  $jhlite-global-color-primary,
  $saturation: 25%,
  $lightness: 60%
) !default;
$jhlite-global-color-fill-secondary: #353d47 !default;
$jhlite-global-color-text-light: $jhlite-global-color-light !default;
$jhlite-global-color-link-light: $jhlite-global-color-light !default;
$jhlite-global-color-link-light-hover: $jhlite-global-color-primary !default;
$jhlite-global-color-success: #480 !default;
$jhlite-global-color-error: #902 !default;
$jhlite-valid-highlight-animation: jhlite-valid-highlight-animation 2s infinite;
$jhlite-invalid-highlight-animation: jhlite-invalid-highlight-animation 2s infinite;
$jhlite-valid-highlight-start-color: #3ebf5a;
$jhlite-valid-highlight-end-color: $jhlite-global-color-success;
$jhlite-invalid-highlight-start-color: #bf3e3e;
$jhlite-invalid-highlight-end-color: $jhlite-global-color-error;

:root {
  --jhlite-global-color-primary: #{$jhlite-global-color-primary};
  --jhlite-global-color-light: #{$jhlite-global-color-light};
  --jhlite-global-color-fill-primary: #{$jhlite-global-color-fill-primary};
  --jhlite-global-color-fill-primary-dark: #{$jhlite-global-color-fill-primary-dark};
  --jhlite-global-color-fill-primary-darker: #{$jhlite-global-color-fill-primary-darker};
  --jhlite-global-color-fill-light: #{$jhlite-global-color-fill-light};
  --jhlite-global-color-text-primary: #{$jhlite-global-color-text-primary};
  --jhlite-global-color-text-dark: #{$jhlite-global-color-text-dark};
  --jhlite-global-color-fill-disabled-dark: #{$jhlite-global-color-fill-disabled-dark};
  --jhlite-global-color-fill-disabled-light: #{$jhlite-global-color-fill-disabled-light};
  --jhlite-global-color-text-disabled: #{$jhlite-global-color-text-disabled};
  --jhlite-global-color-fill-secondary: #{$jhlite-global-color-fill-secondary};
  --jhlite-global-color-text-light: #{$jhlite-global-color-text-light};
  --jhlite-global-color-link-light: #{$jhlite-global-color-link-light};
  --jhlite-global-color-link-light-hover: #{$jhlite-global-color-link-light-hover};
  --jhlite-global-color-success: #{$jhlite-global-color-success};
  --jhlite-global-color-error: #{$jhlite-global-color-error};
  --jhlite-valid-highlight-animation: #{$jhlite-valid-highlight-animation};
  --jhlite-invalid-highlight-animation: #{$jhlite-invalid-highlight-animation};
  --jhlite-valid-highlight-start-color: #{$jhlite-valid-highlight-start-color};
  --jhlite-valid-highlight-end-color: #{$jhlite-valid-highlight-end-color};
  --jhlite-invalid-highlight-start-color: #{$jhlite-invalid-highlight-start-color};
  --jhlite-invalid-highlight-end-color: #{$jhlite-invalid-highlight-end-color};
}

body.-theme-dark {
  --jhlite-global-color-primary: red;
}
